<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="vendor/behat/mink/driver-testsuite/bootstrap.php">
    <testsuites>
        <testsuite name="Driver test suite">
            <directory>tests</directory>
            <directory>vendor/behat/mink/driver-testsuite/tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <var name="driver_config_factory" value="Behat\Mink\Tests\Driver\SahiConfig::getInstance" />

        <!--server name="WEB_FIXTURES_HOST" value="http://test.mink.dev" /-->
        <!--server name="WEB_FIXTURES_BROWSER" value="firefox" /-->
        <!--server name="DRIVER_HOST" value="localhost" /-->

        <!-- where DocumentRoot of 'Test Machine' is mounted to on 'Driver Machine' (only if these are 2 different machines) -->
        <!--server name="DRIVER_MACHINE_BASE_PATH" value="" /-->
        <!--server name="TEST_MACHINE_BASE_PATH" value="" /-->
    </php>

    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>
